extends layout.pug
block content
    main(class=" w-full h-screen flex flex-col justify-center items-center text-base font-sans  ")
        h1(class="text-2xl") Shorts URLS ✨
        form( id="form" action="/" class=" flex flex-col gap-3 h-min w-96 p-4 ") 
            div(class="flex justify-between")
                input(type="text", value="" name="param" class="rounded-md flex-1 bg-neutral-800 px-4 py-2 placeholder-neutral-600 transition-all ease-in hover:bg-neutral-700/70" placeholder="Ingrese el parametro")
                button#gen(type="button" class="transition-all ease-in hover:bg-neutral-700/70 bg-neutral-800 ml-4 w-10 h-10 rounded-md p-3")  
                        include ../public/svg/reload.svg

            input(type="text", value="" name="url" class="rounded-md flex-1 bg-neutral-800 px-4 py-2 placeholder-neutral-600 transition-all ease-in hover:bg-neutral-700/70" placeholder="https://example.com")
            button(class="transition-all ease-in  border border-neutral-700 hover:bg-neutral-900 hover:border-neutral-500 text-neutral-400 py-1 rounded-md") Acortar Url!